URxvt.font: xft:Hack:size=11

! Colors

urxvt*background:           #00001a
urxvt*foreground:           #F0F0F0
urxvt*cursorColor:          #6699CC
!color htop
urxvt*colorBD:              #4a59bf

!Visiblue
urxvt*color0:               #333366
urxvt*color8:               #4d4d9b
!color for the selection
urxvt*color1:               #274da5
urxvt*color9:               #1e4491

urxvt*color2:               #0099CC
urxvt*color10:              #00CCFF

urxvt*color3:               #3366CC
urxvt*color11:              #6699FF

urxvt*color4:               #006699
urxvt*color12:              #0099CC

urxvt*color5:               #0066FF
urxvt*color13:              #0099FF

urxvt*color6:               #7EFFFF
urxvt*color14:              #66CCCC
!other color for selection
urxvt*color7:               #99CCCC
urxvt*color15:		    #62dae0


URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: fullscreen
URxvt*scrollBar: true     
! scrollbar width
URxvt*thickness: 7
! scrollbar color black
URxvt*scrollColor: #1E1E1E
! scrollbar to the right
URxvt*scrollBar_right: true
! scrollbar style
URxvt*scrollstyle: plain
URxvt.transparent: true
URxvt.shading :15
!fade the inactive terminal
URxvt*fading:15	

